<div class="grid">
    
    <p-dataView #dv [value]="sections" filterBy="name" layout="grid">
        <ng-template pTemplate="header">
        </ng-template>
        <ng-template let-section pTemplate="listItem">
            <div class="p-col-3">
                <div class="section-list-item">
                    <div class="section-list-detail">
                        <div class="section-name">{{section.name}}</div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-section pTemplate="gridItem">
            <div class="col-3 md:p-col-3">
                <div class="section" (click)="moveToUser(section)" style="background-color: burlywood">
                    <div class="section-grid-item-top">
                        <div>
                            <i class="pi pi-tag section-category-icon"></i>
                        </div>
                    </div>
                    <div class="section-grid-item-content">
                        <div class="section-name">{{section.name}}</div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>




    <div class="col-4"><p-card header="Simple Card">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</p>
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Simple Card">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                neque quas!</p>
        </p-card>

    </div>
</div>