.th-header-color {
    background-color: #20315f !important;
    color: white !important;
    font-family: AvenirLTStd-Heavy;
}

.t-font-table {
    font-family: AvenirLTStd-Heavy;
}

.t-font-table-d {
    font-family: AvenirLTStd-Heavy;
    color: #20315f !important;
}